*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li{
	display: inline-block;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

.btn{
	background-color: transparent;
	padding: 5px 10px;
	border: none;
	margin:0 20px;
	cursor: pointer;
}

.btn_primary{
	background-color: blue;
	color: #fff;
}

.btn_success{
	background-color: green;
}

.btn_info{
	background-color: powderblue;
}

.btn_warning{
	background-color: orange;
}

.btn_danger{
	background-color: red;
}

/* COMMON */
.btn_primary,
.btn_success,
.btn_danger{
	color:#fff;
}